.header {
    background-color: #232536;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .site-logo {
    display: block;
    margin-right: auto;
  }
  .sitenav-list {
    display: flex;
    gap: 33px;
  }
  .sitenav-link {
    padding-bottom: 28px;
    padding-top: 28px;
    color: rgba(255, 255, 255, 60%);
    font-weight: 500;
    border-top: 2px solid transparent;
  }
  .header-btn {
    color: #ffd3af;
  }
  